@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

body {
    font-size: 18px;
    font-color: #334635;
    background-color: #F4F4F4;
}

section {
    margin: 0 20% 3%;
}

.head {
    background-color: #44724D;
}

.after-head {
    background-color: #AEDCA6;
}